<div class="row col-4 mx-auto box">
    
    <main class="form-signin text-center mt-4">
      <form #signUp="ngForm" (ngSubmit)="onSubmit(signUp)">
        <img class="mb-2" src="https://www.thecompassforsbc.org/sites/default/files/COVID-19%20icon%202FINAL.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Sign Up </h1>
       
        <div class="form-floating">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="signUpform.email">
          <label for="email" class="form-label">Email address</label>
        </div>
        <hr>
        <div class="form-floating">
            <input type="password" 
            class="form-control" 
            name="password" 
            id="password"
            [(ngModel)]="signUpform.password"
            >
        
            <label for="password" class="form-label">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Sign in</button>
        <hr>
       
        <p class="mt-2 text-muted">&copy; annamotsikula</p>
      </form>
    </main>
    
    
        
</div>

