body {
    max-width: 100%; 
    background-image: url("https://t3.ftcdn.net/jpg/04/21/24/02/360_F_421240217_4tQMxh5YK6ziCnQNNtcOAs914Q2T8Rm3.jpg");
}
.box {
   background-color: rgba(86, 90, 89, 0.589);
   border-radius: 20px;
}
#container {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  
  .link {
    position: relative;
    display: inline-block;
  }
  
  .link .tip {
    visibility: hidden;
    width: 0;
    height: 100px;
    opacity: 0;
    background-color: #741313;
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    transition: 0.5s ease;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .link:hover .tip {
    visibility: visible;
    width: 150px;
    height: auto;
    opacity: 1;
  }